body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
h1{
    text-align: center;
}
h2{
    position: relative/absolute;
    top: 0px;
    right: 0px;
    
}
.navbar ul{
    list-style-type: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black
}
.navbar li{
    float: left;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
h1 {
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.kit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.kit-item {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.kit-item img {
    width: 100%;
    height: auto;
}
.kit-item h2 {
    margin: 10px 0;
    text-align: center;
}
